beautifulsoup4
bleach
django
django-autocomplete-light
django-basic-config
django-basic-messages
django-taggit
html5lib
ipykernel
ipython
lxml
nameparser
openpyxl
python-utilities-jsm
regex
requests
six
xmltodict
