{% extends "context_text/base.html" %}

{% block title %}View article coding person ambiguity{% endblock %}

{% block content %}

    <h1>View article coding person ambiguity</h1>
    
    {# got an output_string? #}
    {% if output_string %}
    
        <div id="article_message" name="article_message" style="background-color: yellow; border: 1px solid black;">
            <p>{{ output_string }}</p>
        </div>
    
    {% endif %}
    
    <div id="article_coding_person_ambiguity_form" name="article_coding_person_ambiguity_form">
        
        <form action="" method="post">
    
            {# always include CSRF token #}
            {% csrf_token %}
                
            <p>
                <table class="gridtable">
                    {# output article_coding_person_ambiguity_form #}
                    {{ article_coding_person_ambiguity_form.as_table }}
                </table>
            </p>

            <p>
                <input type="submit" />
            </p>
            
        </form>
        
    </div>
    
    {% if ambiguous_article_subject_qs %}
    
        <hr />
        <div id="ambiguous_article_subject_view" name="ambiguous_article_subject_view">
            <h3>Article_Subject records with person ambiguity</h3>
            <table class="gridtable">
                <tr>
                    <th>id</th>
                    <th>Article_Subject</th>
                    <th>view/fix</th>
                </tr>
                {% for article_subject in ambiguous_article_subject_qs %}
                    <tr>
                        <td>{{ article_subject.id }}</td>
                        <td>{{ article_subject }}</td>
                        <td><a href="{% url 'context_text-person_filter' %}?article_subject_id={{ article_subject.id }}&action=view_matches&lookup_type=general_query">view/fix</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>

    {% endif %}
    
    ambiguous_article_author_qs

{% endblock %}