/*
*
{
    padding: 0; margin: 0;
}
*/

body
{
	margin: 0;
	padding: 0;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 10pt;
	line-height: 150%;
	border-top: 8px solid #106870;
}

.contentBox
{
	max-width: 960px;
	margin: 30px auto 0 auto;
}

.contentLeft
{
	width: 640px;
	height: 100%;
	float: left;
	text-align: justify;
}

.sidebarBox
{
	width: 300px; /* Replace with your sidebar width */
	height: 100%;
	float: right;
	position: relative;
	/* overflow-y: scroll; */
}

.scrollingBox
{
	width: 300px; /* Replace with the same width as sidebar */
	height:90%;
	position: fixed;
	top: 40px;
	border: 1px solid black;
	padding: 5px;
	overflow: scroll;
	/* overflow-y: hidden;
	overflow-x: hidden;*/
}

p.inputContainer
{
    /* nothing to see here for now */
    padding: 1px 0px;
}

p.inputContainer#textarea-source-quote-text
{
    /* default to not shown - show when "source" type selected. */
    display: none;
}

hr.lookupPersonRule
{
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid gray;
}

.statusMessageArea
{
	width: 280px; /* smaller than sidebar */
	border: 1px solid green;
	background-color: #c4e897;
	padding: 5px;
	margin: 5px;
	font-style: italic;
	/* font-size: 100%; */
	font-family: monospace;
	display: none;
}

.statusMessageArea h4
{
    padding: 0px;
    margin: 0px;
}

.statusMessageArea ul
{
    padding: 0px;
    margin: 0px 10px 0px;
}

.statusMessageArea li
{
    padding: 0px;
    margin: 0px;
}