{# parameters: #}
{# - form_filter_person_include_form - boolean, if True, include wrapping <div> and <form> tags. #}
{# - form_filter_person_action - form action attribute value if one is desired. #}
{# - person_lookup_by_name_form - instance of sourcenet.forms.PersonLookupByNameForm #}
{# - person_lookup_by_id_form - instance of sourcenet.forms.PersonLookupByIDForm #}
{# - person_lookup_type_form - instance of sourcenet.forms.PersonLookupTypeForm #}
{# - person_lookup_result_view_form - instance of sourcenet.forms.Person_LookupResultViewForm #}

{% if form_filter_person_include_form %}

<div id="person_form" name="person_form">

    <form action="{% if form_filter_person_action %}{{ form_filter_person_action }}{% endif %}" method="post">
        
        {# always include CSRF token #}
        {% csrf_token %}

{% endif %}
    
        <p>
            <h2>Person filter criteria:</h3>
            <table class="gridtable">
                {# output person name lookup form #}
                {{ person_lookup_by_name_form.as_table }}
                {# output person name lookup form #}
                {{ person_lookup_by_id_form.as_table }}
            </table>
        </p>

        <p>
            <h2>How to filter Person records:</h3>
            <table class="gridtable">
                {# output lookup type form #}
                {{ person_lookup_type_form.as_table }}
            </table>
        </p>
            
        <p>
            <h2>What to do with results?:</h3>
            <table class="gridtable">
                {# output action form #}
                {{ person_lookup_result_view_form.as_table }}
            </table>
        </p>

{% if form_filter_person_include_form %}

        <p>
            <input type="submit" />
        </p>
    
    </form>
    
</div>

{% endif %}
