{% extends "sourcenet/base.html" %}

{% block title %}Filter Person records{% endblock %}

{% block content %}

    <h1>Filter Person records</h1>
    
    {# got an output_string? #}
    {% if output_string %}
    
        <div id="status_message" name="status_message" class="pageStatusMessageArea">
            <p>{{ output_string }}</p>
        </div>
    
    {% endif %}
    
    <div id="person_form" name="person_form">
        
        <form action="" method="post">
    
            {# always include CSRF token #}
            {% csrf_token %}
                
            <p>
                <h2>Person filter criteria:</h3>
                <table class="gridtable">
                    {# output person name lookup form #}
                    {{ person_lookup_by_name_form.as_table }}
                </table>
            </p>

            <p>
                <h2>How to filter Person records:</h3>
                <table class="gridtable">
                    {# output lookup type form #}
                    {{ person_lookup_type_form.as_table }}
                </table>
            </p>
                
            <p>
                <h2>What to do with results?:</h3>
                <table class="gridtable">
                    {# output action form #}
                    {{ person_lookup_result_view_form.as_table }}
                </table>
            </p>

            <p>
                <input type="submit" />
            </p>
        
        </form>
        
        <hr />

        <p>action = {{ action }}</p>
        {% if action %}
    
            {% if person_filter_summary %}
                <p><strong>Filter Summary:</strong> {{ person_filter_summary }}</p>
            {% endif %}
            
            {% if action_summary %}
                <p><strong>Action Summary:</strong> {{ action_summary }}</p>
            {% endif %}
            
            {% if person_details_list %}
                <p><strong>Selected Person records:</strong></p>

                <form action="" method="post">
                    <input type="hidden" name="action" value="merge" />
                    
                    <table class="gridtable">
                        <tr>
                            <th>merge...</th>
                            <th>...into</th>
                            <th>index</th>
                            <th>ID</th>
                            <th>name</th>
                            <th>paper(s)</th>
                            <th>UUID(S)</th>
                            <th>articles</th>
                        </tr>
                        <input type="hidden" name="person_id_list" value="{{ person_id_list_string }}" />
                        {% for current_person in person_details_list %}
                            <tr>
                                <td><input type="checkbox" name="merge_{{ current_person.instance.id }}" /></td>
                                <td><input type="checkbox" name="into_{{ current_person.instance.id }}" /></td>
                                <td>{{ current_person.index }}</td>
                                <td>{{ current_person.instance.id }}</td>
                                <td>{{ current_person.instance.get_name_string }}</td>
                                <td>
                                    {% if current_person.newspaper_list %}
                                        <ul>
                                            {% for newspaper in current_person.newspaper_list %}
                                                <li>{{ newspaper }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% else %}
                                        No related newspapers.
                                    {% endif %}
                                </td>
                                <td>
                                    {% if current_person.UUID_list %}
                                        <ul>
                                            {% for UUID_instance in current_person.UUID_list %}
                                                <li>{{ UUID_instance.uuid }} ( {{ UUID_instance.source }} )</li>
                                            {% endfor %}
                                        </ul>
                                    {% else %}
                                        No related UUID.
                                    {% endif %}
                                </td>
                                <td>
                                    {% if current_person.article_id_set %}
                                        <ul>
                                            {% for article_id in current_person.article_id_set %}
                                                <li><a href="{% url 'sourcenet-article_view' %}?article_id={{ article_id }}">{{ article_id }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    {% else %}
                                        No related article IDs.
                                    {% endif %}
                                </td>
                            </tr>
                        {% empty %}
                            <tr><td colspan="3">No Person records selected.</td></tr>
                        {% endfor %}
                    </table>
                    <input type="submit" />
                </form>
                {% endif %}
                
                {% if action_detail_list %}
                    <p><strong>Action Details:</strong></p>
                    <ul>
                        {% for detail_item in action_detail_list %}
                            <ul>{{ detail_item }}</ul>
                        {% empty %}
                            <ul>No details returned...</ul>
                        {% endfor %}
                    </ul>
                {% endif %}
        
            {% endif %}
        
    </div>

{% endblock %}