{% extends "sourcenet/base.html" %}
{% load staticfiles %}

{% block title %}Code Article{% endblock %}

{% block inside-head %}
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.selection/1.0.1/jquery.selection.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static "sourcenet/css/article-coding/article-coding.css" %}" />
<script src="{% static "sourcenet/js/article-coding/article-coding.js" %}"></script>
{% if existing_data_store_json %}<script>SOURCENET.data_store_json = '{{ existing_data_store_json }}';</script>{% endif %}
{% endblock %}

{% block content %}

<div class="contentBox">
    <article>
        
        {# got page status message(s)? #}
        {% if page_status_message_list %}
            <div id="page-status-message-area" class="pageStatusMessageArea">
                <h4>Status Messages</h4>
                <ul>
                {% for page_status_message in page_status_message_list %}
                    <li>{{ page_status_message }}</li>
                {% endfor %}
                </ul>
            </div>
            <hr />
        {% endif %}

        <h1>Article coding list</h1>
        
        <div id="article_coding_list_form" name="article_coding_list_form">
            
            <form action="" method="post">
        
                {# always include CSRF token #}
                {% csrf_token %}
                    
                {# output article lookup form #}
                {{ article_coding_list_form.as_p }}
                    
                <p>
                    <input type="submit" value="Load Articles" />
                </p>
                
            </form>
            
        </div>
        
        {% if article_details_list %}
        
            <hr />
            <br/>
            
            <h3>Articles to code</h3>
            
            <div id="reliability_names_instance_view" name="reliability_names_instance_view">
    
                <table class="gridtable">
                    
                    <tr>
                        <th>index</th>
                        <th>article</th>
                        <th>status</th>
                        <th>coding</th>
                    </tr>
    
                    {% for article_details in article_details_list %}
    
                        <tr>
                            <td>{{ article_details.index }}</td>
                            <td>{{ article_details.article_instance }}</td>
                            <td>{{ article_details.article_status }}</td>
                            {% if article_details.article_data %}
                                <td><a href="{% url 'sourcenet-article_code' %}?article_id={{ article_details.article_instance.id }}&source=article-code-list&tags_in_list={{ tags_in_list }}">Edit Coding: {{ article_details.article_data }}</a></td>
                            {% else %}
                                <td><a href="{% url 'sourcenet-article_code' %}?article_id={{ article_details.article_instance.id }}&source=article-code-list&tags_in_list={{ tags_in_list }}">Begin Coding</a></td>
                            {% endif %}
                        </tr>
    
                    {% empty %}
    
                        <tr><td colspan="4">No Articles found for tag(s): {{ tags_in_list }}.</td></tr>
    
                    {% endfor %}
    
                </table>
    
            </div>
            
        {% endif %}
    </article>
</div>

{% endblock %}