{% load staticfiles %}
<html>

    <head>
        <title>{% block title %}Sourcenet{% endblock %}</title>
        {%block inside-head %}{% endblock %}
        <link rel="stylesheet" type="text/css" href="{% static "sourcenet/sourcenet.css" %}" />
        {% if base_include_django_ajax_selects %}
            <link href="{% static "ajax_select/css/ajax_select.css" %}" type="text/css" media="all" rel="stylesheet">
            <script type="text/javascript" src="{% static "ajax_select/js/bootstrap.js" %}"></script>
            <script type="text/javascript" src="{% static "ajax_select/js/ajax_select.js" %}"></script>
        {% endif %}

    </head>

    <body>

        {% if base_hide_navigation %}

            <!-- No navigation to see here. -->
            
        {% else %}
        
            {% if base_simple_navigation %}
            
            <header>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;User: {{ request.user.username }}&nbsp;&nbsp;|&nbsp;&nbsp;<a href="{% url 'sourcenet-logout' %}{% if base_post_login_redirect %}?post_logout_redirect={{ base_post_login_redirect }}{% endif %}">Logout</a></p>
            </header>
            
            {% else %}

            <header>
                <h3>Sourcenet</h3>
                <p><strong>User:</strong> {{ request.user.username }}&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/">Home</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="{% url 'sourcenet-logout' %}{% if base_post_login_redirect %}?post_logout_redirect={{ base_post_login_redirect }}{% endif %}">Logout</a></p>
                <ul>
                    <li>
                        <a href="{% url 'sourcenet-output_network' %}">Go to network outputter</a>
                    </li>
                    <li>
                        <a href="{% url 'sourcenet-output_articles' %}">Go to article outputter</a>
                    </li>
                    <li>
                        View: <a href="{% url 'sourcenet-article_view' %}">an article</a> | <a href="{% url 'sourcenet-article_view_article_data_with_text' %}">article + coding</a> | <a href="{% url 'sourcenet-article_view_article_data' %}">article coding detail</a>
                    </li>
                    <li>
                        <a href="{% url 'sourcenet-article_code' %}">Code an article</a>
                    </li>
                </ul>
                <hr />
            </header>
            
            {% endif %}    

        {% endif %}

        {% block content %}{% endblock %}

    </body>

</html>