{% extends "sourcenet/base.html" %}

{% block title %}Sourcenet Home{% endblock %}

{% block content %}

    {# got an output_string? #}
    {% if output_string %}
    
        <div id="article_message" name="article_message" style="background-color: yellow; border: 1px solid black;">
            <p>{{ output_string }}</p>
        </div>
    
    {% endif %}

    <h1>Sourcenet Home</h1>
    
    <p>Use the links in the above header to access the pages that make up the Sourcenet application.</p>

{% endblock %}