beautifulsoup4==4.8.1
bleach==3.1.0
Django==2.2.6
django-ajax-selects==1.7.1
django-basic-config==1.0.1
django-basic-messages==1.0.1
django-taggit==1.1.0
html5lib==1.0.1
ipykernel==5.1.3
ipython==7.9.0
lxml==4.4.1
nameparser==1.0.4
openpyxl==3.0.0
psycopg2==2.8.4
python-utilities-jsm==1.0.1
regex==2019.8.19
requests==2.22.0
six==1.12.0
xmltodict==0.12.0
