{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Code Article{% endblock %}

{%block inside-head %}
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.selection/1.0.1/jquery.selection.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static "sourcenet/css/article-coding/article-coding.css" %}" />
<script src="{% static "sourcenet/js/article-coding/article-coding.js" %}"></script>
{% if existing_data_store_json %}<script>SOURCENET.data_store_json = '{{ existing_data_store_json }}';</script>{% endif %}
{% endblock %}

{% block content %}

<div class="contentBox">
    <article class="contentLeft">
        
        {# got page status message(s)? #}
        {% if page_status_message_list %}
            <div id="page-status-message-area" class="pageStatusMessageArea">
                <h4>Status Messages</h4>
                <ul>
                {% for page_status_message in page_status_message_list %}
                    <li>{{ page_status_message }}</li>
                {% endfor %}
                </ul>
            </div>
            <hr />
        {% endif %}

        <h1>Code article</h1>
        
        <div id="article_form" name="article_form">
            
            <form action="" method="post">
        
                {# always include CSRF token #}
                {% csrf_token %}
                    
                <p>
                    {# output article lookup form #}
                    {{ article_lookup_form }}
                </p>
                    
                <p>
                    <input type="submit" value="Load Article" />
                </p>
                
            </form>
            
        </div>
        
        {% if article_instance %}
        
            <hr />
            
            <div id="article_view" name="article_view">
                <h3>Article {{ article_instance.id }} - {{ article_instance.headline }}</h3>
                <li><em>Publication Date:</em> {{ article_instance.pub_date }}</li>
                <li><em>Byline:</em> {{ article_instance.author_string }}</li>
                {{ article_text.get_content|safe }}
            </div>
            
            <!--
            <hr />
            <div id="article_view" name="article_view">
                <h3>Article {{ article_instance.id }} - {{ article_instance.headline }}</h3>
                <h4>Fields:</h4>
                <ul>
                    <li><em>Pub-Date:</em> {{ article_instance.pub_date }}</li>
                    <li><em>Section:</em> {{ article_instance.section }}</li>
                    <li><em>Page:</em> {{ article_instance.page }}</li>                
                    <li><em>Edition:</em> {{ article_instance.edition }}</li>                
                    <li><em>Terms:</em> {{ article_instance.index_terms }}</li>                
                    <li><em>Source:</em> {{ article_instance.archive_source }} ( <em>id:</em> {{ article_instance.archive_id }} )</li>
                    <li><em>Author:</em> {{ article_instance.author_string }}</li>
                </ul>
                <h4>Article Text</h4>
                {{ article_content|safe }}
            </div>
            -->
            
        {% endif %}
    </article>
    <aside class="sidebarBox">
        <div class="scrollingBox">
            <h2>Record Article People</h2>
            <!-- <form name="person-coding" id="person-coding"> -->
            <div name="person-coding" id="person-coding">
                <input type="hidden" name="matched-person-id" id="matched-person-id" />
<!--
                <input type="button" id="select-text" value="Get selected text" />:
                <br />
                <textarea id="selected-text" readonly="readonly" rows="4" cols="35"></textarea>
                <br />
-->
                <p class="inputContainer" id="input-person-name">
                    <input type="button" id="store-name" name="store-name" value="Name ==>" />: <textarea id="person-name" name="person-name" readonly="readonly"></textarea>
                </p>
                <p class="inputContainer" id="select-person-type">
                    &nbsp;&nbsp;Person Type: <select name="person-type" id="person-type" onchange="SOURCENET.process_selected_person_type()">
                        <option value="" selected="selected" disabled="disabled">Choose Person Type</option>
                        <option value="{{ person_type_subject }}">Subject (not quoted)</option>
                        <option value="{{ person_type_source }}">Source (quoted)</option>
                        <option value="{{ person_type_author }}">Author</option>
                    </select>
                </p>
                <p class="inputContainer" id="textarea-title">
                    <input type="button" id="store-title" name="store-title" value="Title ==>" />:
                    <br />
                    <textarea id="person-title" name="person-title" rows="4" cols="35"></textarea>
                </p>
                <p class="inputContainer" id="textarea-source-quote-text">
                    <input type="button" id="store-quote-text" name="store-quote-text" value="First Quote Text ==>" />:
                    <br />
                    <textarea id="source-quote-text" name="source-quote-text" readonly="readonly" rows="4" cols="35"></textarea>
                </p>
                <!--- <hr class="fieldSeparator" /> --->
                <p class="inputContainer" id="lookup-person-id">
                    <h4>Person lookup</h4>
                    <input type="button" id="lookup-person-name" name="lookup-person-name" value="Fetch Name ==>" />
                    <br />
                    <br />
                    {{ person_lookup_form }}
                </p>
                <hr class="fieldSeparator" />
                <p class="inputContainer" id="process-person-container">
                    <input type="button" id="process-person" name="process-person" value="Process Person" onclick="SOURCENET.process_person_coding()" />
                </p>
            </div>
            <!-- </form> -->
            <hr />
            <div id="status-message-area" class="statusMessageArea">
                <h4>Status Messages</h4>
            </div>
            <h3>Person List</h3>
            <div id="person-list" class="personList">
                <table id="person-list-table" class="personListTable"></table>
                <form method="post" name="submit-article-coding" id="submit-article-coding" class="submitArticleCoding" onsubmit="do_submit = SOURCENET.render_coding_form_inputs( this ); alert( 'Submit?: ' + do_submit ); return do_submit;">
                    {# always include CSRF token #}
                    {% csrf_token %}
                    {# output coding_submit_form if present #}
                    {% if coding_submit_form %}
                        {{ coding_submit_form }}
                    {% endif %}
                    <input type="hidden" name="article_id" id="submit-article-coding-article-id" value="{{ article_instance.id }}" />
                    <input type="submit" value="Submit Article Coding" name="input-submit-article-coding" id="input-submit-article-coding" />
                </form>
            </div>
        </div>
    </aside>
</div>

{% endblock %}