{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Code Article{% endblock %}

{%block inside-head %}
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.selection/1.0.1/jquery.selection.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static "sourcenet/css/article-coding/article-coding.css" %}" />
<script src="{% static "sourcenet/js/article-coding/article-coding.js" %}"></script>
{% endblock %}

{% block content %}

<div class="contentBox">
    <div class="contentLeft">
        <h1>Code article</h1>
        
        {# got an output_string? #}
        {% if output_string %}
        
            <div id="article_message" name="article_message" style="background-color: yellow; border: 1px solid black;">
                <p>{{ output_string }}</p>
            </div>
        
        {% endif %}
        
        <div id="article_form" name="article_form">
            
            <form action="" method="post">
        
                {# always include CSRF token #}
                {% csrf_token %}
                    
                <p>
                    {# output article lookup form #}
                    {{ article_lookup_form }}
                </p>
                    
                <p>
                    <input type="submit" />
                </p>
                
            </form>
            
        </div>
        
        {% if article_instance %}
        
            <hr />
            
            <div id="article_view" name="article_view">
                <h3>Article {{ article_instance.id }} - {{ article_instance.headline }}</h3>
                {{ article_text.get_content|safe }}
            </div>
            
            <!--
            <hr />
            <div id="article_view" name="article_view">
                <h3>Article {{ article_instance.id }} - {{ article_instance.headline }}</h3>
                <h4>Fields:</h4>
                <ul>
                    <li><em>Pub-Date:</em> {{ article_instance.pub_date }}</li>
                    <li><em>Section:</em> {{ article_instance.section }}</li>
                    <li><em>Page:</em> {{ article_instance.page }}</li>                
                    <li><em>Edition:</em> {{ article_instance.edition }}</li>                
                    <li><em>Terms:</em> {{ article_instance.index_terms }}</li>                
                    <li><em>Source:</em> {{ article_instance.archive_source }} ( <em>id:</em> {{ article_instance.archive_id }} )</li>
                    <li><em>Author:</em> {{ article_instance.author_string }}</li>
                </ul>
                <h4>Article Text</h4>
                {{ article_content|safe }}
            </div>
            -->
            
        {% endif %}
    </div>
    <div class="sidebarBox">
        <div style="position: static; top: 40px;" class="scrollingBox">
            <h2>coding area</h2>
            <input type="button" id="select-text" value="Get selected text / 選択部分のテキストを取得" />: <textarea id="selected-text" readonly="readonly" rows="4" cols="45"></textarea>
            <br />
            {{ person_lookup_form }}
        </div>
    </div>
</div>

{% endblock %}