{% extends "base.html" %}

{% block title %}View Article + Coding{% endblock %}

{% block content %}

    <h1>View Article + Coding</h1>
    
    {# got an output_string? #}
    {% if output_string %}
    
        <div id="article_message" name="article_message" style="background-color: yellow; border: 1px solid black;">
            <p>{{ output_string }}</p>
        </div>
    
    {% endif %}
    
    <div id="article_form" name="article_form">
        
        <form action="" method="post">
    
            {# always include CSRF token #}
            {% csrf_token %}
                
            <p>
                {# output article lookup form #}
                {{ article_lookup_form }}
            </p>
                
            {% if article_data_select_form %}
            <p>
                {# if there is an article selected, include form to select certain Article_Data instances #}
                {{ article_data_select_form }}
            </p>
            {% endif %}

            <p>
                <input type="submit" />
            </p>
            
        </form>
        
    </div>
    
    {% if article_instance %}
    
        <hr />
        <div id="article_view" name="article_view">
            <h3>Article {{ article_instance.id }} - {{ article_instance.headline }}</h3>
            <h4>Fields:</h4>
            <ul>
                <li><em>Pub-Date:</em> {{ article_instance.pub_date }}</li>
                <li><em>Section:</em> {{ article_instance.section }}</li>
                <li><em>Page:</em> {{ article_instance.page }}</li>                
                <li><em>Edition:</em> {{ article_instance.edition }}</li>                
                <li><em>Terms:</em> {{ article_instance.index_terms }}</li>                
                <li><em>Source:</em> {{ article_instance.archive_source }} ( <em>id:</em> {{ article_instance.archive_id }} )</li>
                <li><em>Author:</em> {{ article_instance.author_string }}</li>
            </ul>

            <h4>Authors</h4>
            {{ author_info | safe }}

            <h4>Article Text and Subjects</h4>
            {{ article_content | safe }}

            <!-- 
            <hr />
            {{ article_text.get_content|safe }}
            -->
            <hr />
            <h4>Article_Data Record(s)</h4>

            <ul>
                {# loop over article_data #}
                {% for article_data in article_instance.article_data_set.all %}
                    <li><a href="../article_data/view?article_id={{ article_instance.id }}&article_data_id_select={{article_data.id}}">{{ article_data }}</a></li>
                {% endfor %}
            </ul>
            
            <p><a href="../article_data/view?article_id={{ article_instance.id }}">View all related Article_Data</a></p>
        </div>

    {% endif %}

{% endblock %}