<html>

    <head>
        <title>{% block title %}Sourcenet{% endblock %}</title>
        {%block inside-head %}{% endblock %}
    </head>

    <body>

        <h3>Sourcenet</h3>
        <ul>
            <li>
                <a href="/sourcenet/sourcenet/output/network">Go to network outputter</a>
            </li>
            <li>
                <a href="/sourcenet/sourcenet/output/articles">Go to article outputter</a>
            </li>
            <li>
                <a href="/sourcenet/sourcenet/article/view/">View an article</a>
            </li>
<!--
            <li>
                <a href="/sourcenet/sourcenet/article/code/">Code an article</a>
            </li>
-->
            <li>
                <a href="/sourcenet/sourcenet/accounts/logout/">Logout</a>
            </li>
        </ul>

        <hr />

        {% block content %}{% endblock %}

    </body>

</html>