<html>

    <head>
        <title>{% block title %}Sourcenet{% endblock %}</title>
        {%block inside-head %}{% endblock %}
        <link rel="stylesheet" type="text/css" href="/static/sourcenet/sourcenet.css" />
        {% if base_include_django_ajax_selects %}
            <link href="/static/ajax_select/css/ajax_select.css" type="text/css" media="all" rel="stylesheet">
            <script type="text/javascript" src="/static/ajax_select/js/bootstrap.js"></script>
            <script type="text/javascript" src="/static/ajax_select/js/ajax_select.js"></script>
        {% endif %}

    </head>

    <body>

        {% if base_hide_navigation %}

            <!-- No navigation to see here. -->
            
        {% else %}

            <h3>Sourcenet</h3>
            <ul>
                <li>
                    <a href="/sourcenet/sourcenet/output/network">Go to network outputter</a>
                </li>
                <li>
                    <a href="/sourcenet/sourcenet/output/articles">Go to article outputter</a>
                </li>
                <li>
                    View: <a href="/sourcenet/sourcenet/article/view/">an article</a> | <a href="/sourcenet/sourcenet/article/article_data/view/">an article's Article_Data</a>
                </li>
                <li>
                    <a href="/sourcenet/sourcenet/article/code/">Code an article</a>
                </li>
                <li>
                    <a href="/">Home</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/sourcenet/sourcenet/accounts/logout/">Logout</a>
                </li>
            </ul>
    
            <hr />

        {% endif %}

        {% block content %}{% endblock %}

    </body>

</html>