{% extends "base.html" %}

{% block title %}Output source network{% endblock %}

{% block content %}

    <h1>Output source network</h1>
    <ul>
        <li>
            <a href="./articles">Go to article outputter</a>
        </li>
        <li>
            <a href="/sourcenet/sourcenet/accounts/logout/">Logout</a>
        </li>
    </ul>

    {% if network_output_form.errors %}
        <p style="color: red;">
            Please correct "Select Articles" error {{ network_output_form.errors|pluralize }} below.
        </p>
    {% endif %}
    {% if article_select_form.errors %}
        <p style="color: red;">
            Please correct "Select Articles" error {{ article_select_form.errors|pluralize }} below.
        </p>
    {% endif %}
    {% if person_select_form.errors %}
        <p style="color: red;">
            Please correct "Select People" error {{ person_select_form.errors|pluralize }} below.
        </p>
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}
    {% if output_string %}
        <table>
            <tr>
                <td>Output:</td><td><textarea cols="80" rows="10" readonly="readonly">{{ output_string }}</textarea></td>
            </tr>
        </table>
    {% endif %}
        <table>
            <tr>
                <th><h3>Select Articles</h3></th>
                <th><h3>Select People</h3></th>
            </tr>
            <tr>
                <td>
                    <table>
                        {{ article_select_form }}
                        {{ network_output_form }}
                    </table>
                </td>
                <td valign="top">
                    <table>
                        {{ person_select_form }}
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" value="Submit"></td>
            </tr>
        </table>
    </form>
    <p>* For date range fields, enter any number of paired date ranges, where dates are in the format YYYY-MM-DD, dates are separated by the string " to ", and each pair of dates is separated by two pipes ("||").</p>
    <p>Example: <i>2009-12-01 to 2009-12-31||2010-02-01 to 2010-02-28</i></p>

{% endblock %}