# R-Project.org
deb https://cran.r-project.org/bin/linux/ubuntu {{server_ubuntu_version_code_name}}/

# Mirrors
# deb http://cran.rstudio.com/bin/linux/ubuntu {{server_ubuntu_version_code_name}}/ # R - CRAN mirror - rstudio.com
# deb http://ftp.ussg.iu.edu/CRAN/bin/linux/ubuntu {{server_ubuntu_version_code_name}}/ # R - CRAN mirror - ftp.ussg.iu.edu
# deb http://cran.case.edu/bin/linux/ubuntu {{server_ubuntu_version_code_name}}/ # R - CRAN mirror - cran.case.edu
# deb https://cran.revolutionanalytics.com/bin/linux/ubuntu {{server_ubuntu_version_code_name}}/ # R - CRAN mirror - revolution analytics (Microsoft)

# Dev Package Channel
# deb http://ppa.launchpad.net/marutter/rrutter/ubuntu {{server_ubuntu_version_code_name}} main
# deb-src http://ppa.launchpad.net/marutter/rrutter/ubuntu {{server_ubuntu_version_code_name}} main