{% extends "context_text/base.html" %}

{% block title %}Merge Person records{% endblock %}

{% block content %}

    <h1>Merge Person records</h1>

    {# include standard status message output #}
    {% include "context_text/shared/output_status_message.html" %}
    
    <table>
        <tr>
            <td class="page_layout" valign="top">
                
                <div id="person_form" name="person_form">
                    
                    <form action="" method="post">
                
                        {# always include CSRF token #}
                        {% csrf_token %}
            
                        {% include "context_text/shared/form-filter_person.html" %}
                        
                        <input type="hidden" name="merge_action" value="lookup" />
                            
                        <p>
                            <input type="submit" />
                        </p>
                    
                    </form>
                    
                </div>
    
            </td>
            <td class="page_layout" valign="top">
        
                {% if merge_action %}
                
                    <p><strong>Merge Action = </strong> <em>{{ merge_action }}</em></p>
                    {% if action_summary %}
                        <p><p><strong>Action Summary:</strong> {{ action_summary }}</p>
                    {% endif %}
                    
                    {% if action_detail_list %}
                        <p><strong>Action Details:</strong></p>
                        <ul>
                            {% for detail_item in action_detail_list %}
                                <li>{{ detail_item }}</li>
                            {% empty %}
                                <li>No details returned...</li>
                            {% endfor %}
                        </ul>
                        <hr />
                    {% endif %}
            
                    {% if lookup_action %}
                
                        <p><strong>Lookup Action = </strong> <em>{{ lookup_action }}</em></p>
                        
                        {% if person_filter_summary %}
                            <p><strong>Filter Summary:</strong> {{ person_filter_summary }}</p>
                        {% endif %}
                        
                        {% if person_details_list %}
                            <h3>Selected Person records:</h3>
                
                            <form action="" method="post">
                                
                                {# always include CSRF token #}
                                {% csrf_token %}
            
                                {# include inputs from person lookup forms #}
                                {% if person_lookup_by_name_form_hidden_inputs %}
                                    {{ person_lookup_by_name_form_hidden_inputs | safe }}
                                {% endif %}
                                
                                {% if person_lookup_by_id_form_hidden_inputs %}
                                    {{ person_lookup_by_id_form_hidden_inputs | safe }}
                                {% endif %}
                                
                                {% if person_lookup_type_form_hidden_inputs %}
                                    {{ person_lookup_type_form_hidden_inputs | safe }}
                                {% endif %}
                                
                                {% if person_process_selected_form_hidden_inputs %}
                                    {{ person_process_selected_form_hidden_inputs | safe }}
                                {% endif %}
                                
                                {% if person_lookup_result_view_form_hidden_inputs %}
                                    {{ person_lookup_result_view_form_hidden_inputs | safe }}
                                {% endif %}
            
                                <input type="hidden" name="person_id_list" value="{{ person_id_list_string }}" />
                                
                                {{ person_merge_action_form.as_p }}
                                <p>
                                    <input type="submit" name="Do Action" value="Do Action" />
                                </p>

                                <table class="gridtable">
                                    <tr>
                                        <th>merge FROM...</th>
                                        <th>...merge INTO</th>
                                        <th>index</th>
                                        <th>ID</th>
                                        <th>name</th>
                                        <th>paper(s)</th>
                                        <th>UUID(S)</th>
                                        <th>articles</th>
                                    </tr>
                                    {% for current_person in person_details_list %}
                                        <tr>
                                            <td><input type="checkbox" name="{{ input_name_merge_from_prefix }}{{ current_person.instance.id }}" /></td>
                                            <td><input type="checkbox" name="{{ input_name_merge_into_prefix }}{{ current_person.instance.id }}" /></td>
                
                                            {# output standard person detail <td>s #}
                                            {% include "context_text/shared/td-person_detail.html" %}
                
                                        </tr>
                                    {% empty %}
                                        <tr><td colspan="3">No Person records selected.</td></tr>
                                    {% endfor %}
                                </table>

                                <p>
                                    <input type="submit" name="Do Action" value="Do Action" />
                                </p>
                            </form>
                        {% endif %}
                            
                    {% endif %} {# -- END if lookup_action...endif -- #}
            
                {% endif %} {# -- END if merge_action...endif -- #}

            </td>

        </tr>

    </table>
    
{% endblock %}